@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <table id="mytable" border=1 style="width:100%">
        <thead>
            <tr>
                <th><input type="checkbox" id="product" name="product" value=""></th>
                <th>S.No</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Tax</th>
                <th>Tax Amount</th>
                <th>Gross Total</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
    <br>
    <input type="button" value="ADD PRODUCT" onclick="addRow()" style="background-color:green">
    <input type="button" value="REMOVE PRODUCT" onclick="deleteRow()" style="background-color:red">
    <input type="button" value="SAVE" onclick="saveData()" style="background-color:green;margin-left:700px">

</body>
</html>
<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script src="~/Scripts/Product.js"></script>
