
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPro</title>
</head>


@*LOGIN PAGE STRAT*@

<body class="body1">
    <div class="container" id="LoginSales" style="display:none;">

        <h1>Login SalesMan </h1>
        <div class="form-group">
            <label class="AB1" for="salesmanname">Salesman Name</label>
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <input type="text" id="SalesmanName" name="salesmanname" placeholder="Name" onkeydown="if (event.keyCode == 13) { EnterFocus('SalesmanName'); return false; } if (event.keyCode == 9) { EnterFocus('SalesmanName'); return false; }" style="margin-left:21px; padding-left:5px;font-family: Georgia,'Times New Roman',Times, serif;" required>
            </a>
        </div><br />
        <div class="form-group">
            <label for="password">Password</label>
            <a href="#">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" id="password" name="password" placeholder="password" onkeydown="if (event.keyCode == 13) { EnterFocus('password'); return false; } if (event.keyCode == 9) { EnterFocus('password'); return false; }" style="margin-left:21px; padding-left:5px;font-family: Georgia,'Times New Roman',Times, serif;" required>
            </a>
        </div><br />
        <div class="form-group">
            <button class="login" id="log" onclick="login()">Login</button>
            <button class="register1" id="logreg" onclick="RegisterMethod()">Register</button>
        </div>
    </div>
</body>
@*LOGIN PAGE ENd*@


@*REGISTER PAGE START*@
<body>
    <div class="container1" id="Register">
        <h1>Register Salesman</h1>
        <div class="AB2">
            <div class="form-group">
                <label for="salesmanNameR">Salesman Name</label>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="text" id="salesmanName" name="salesmanName" placeholder="Name" style="margin-left:21px; padding-left:5px;font-family: Georgia,'Times New Roman',Times, serif;">
                </a>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <a href="#">
                    <span class="glyphicon glyphicon-lock"></span>
                    <input type="password" id="Regpassword" name="password" placeholder="Password" style="margin-left:21px; padding-left:5px;font-family: Georgia,'Times New Roman',Times, serif;">
                </a>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="checkbox checkbox-icon-black" style="margin-left:-13px">
                        <input type="checkbox" id="status" checked="checked" style="margin-left:-1px;margin-top:2px" : tabindex="2">
                        <label for="status">
                            IsActive
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="register2" type="submit" id="Rsales" value="Register" onclick="RegisterSales()">Register</button>
            <button class="button" id="Rcan" onclick="RegisterCancel()">Cancel</button>
        </div>
    </div>
</body>

@*REGISTER PAGE ENd*@


@*SALESMAN LISTING PAGE START*@
<div id="AddSalesman">

    <button class="AddSales" onclick="Addnewsalesman()">Add New Sales</button>

    <input type="text" id="customername" name="customer-name" placeholder="Search customer name" style=" border: 3px solid inherit;width: 200px;height:30px; margin-left:90px; margin-top:50px; border-radius: 5px;border-top:211px;font-family: Georgia,'Times New Roman',Times, serif;">
    <a href="#" class="btn btn-info btn-lg" onclick="SearchsalesMan()">

        <span class="glyphicon glyphicon-search"></span> Search
    </a>
</div>
@*<div>
        <button id="hdPrint" class="Print" onclick="printsales()" style="float:right;margin-right:50px;width:100px;height:50px;background-color:aquamarine;margin-top:-50px;cursor:pointer;display:none">Print</button>
    </div>*@
<div id="loadtable" style="display:none">
    <table class="table table-striped" id="Setsalesmanlist">
        <thead>
            <tr>
                <th></th>
                <th>IcheckRef</th>
                <th>System</th>
                <th>Date</th>
                <th>Company</th>
                <th>Customer(NRIC/FIN)</th>
                <th>Mobile Plan Chosen</th>
                <th>Mobile Number (Contract)</th>
                <th>NRP (Contract)</th>
                <th>Phone IMEI Number</th>
                <th>Smart Phone Details</th>
                <th>Blank SIM Number</th>
                <th>Handset Value</th>
                <th>Hansdet discount #1</th>
                <th>Handset Discount #2</th>
                <th>Deposit</th>
                <th>PrePayment</th>
                <th>FINAL PAYMENT</th>
                <th>BESPOKE RECEIPT</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<button class="Back1" id="cancel" onclick="LogoutBack()">Back</button>


@*SALESMAN LISTING PAGE END*@


@*SALESMAN ADD PAGE START*@


@*SALESMAN ADD PAGE END*@


@*<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*@

@{Html.RenderPartial("~/Views/PartialView/SalesListing.cshtml");}
<style>

    .btn-danger {
        max-width: 100px;
        float: right;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .body1 {
        background-image: url(../../ImageUnipro/Logo/frame_00_delay-0.01s.jpg);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid black;
        padding: 12px;
    }

    th, td {
        padding: 100px;
        text-align: left;
    }

    td {
        background-color: white;
    }

    th {
        background-color: greenyellow;
    }

    /*tr:hover {
        background-color: #f5f5f5;
    }*/

    .edit-btn, .delete-btn {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
    }

    .delete-btn {
        background-color: #f44336;
    }

    .container {
        width: 400px;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 25px;
        color: #FFC312;
        background-color: rgba(0,0,0,0.5) !important;
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .container1 {
        background-color: moccasin;
        width: 400px;
        margin: 7% auto;
        height: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 15px;
    }

    h1 {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        margin-top: -12px;
        text-align: center;
    }

    .form-group label {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        margin-top: 10px;
        margin-left: 40px;
    }

    .AB2 label {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        margin-top: 25px;
        margin-left: 40px;
    }


    .form-group input {
        width: 250px;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: -10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .register2 {
        background-color: #0051ff;
        width: 100px;
        height: 45px;
        margin-left: 55px;
        border-radius: 5px;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: .6s;
    }

    .button {
        background-color: gold;
        width: 125px;
        height: 50px;
        margin-left: 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: .6s;
        border: none;
    }

    .Back1 {
        background-color: gold;
        width: 125px;
        height: 50px;
        margin-left: 1230px;
        border-radius: 5px;
        cursor: pointer;
        transition: .6s;
        border: none;
    }

    .Addsav {
        background-color: gold;
        width: 125px;
        height: 50px;
        margin-left: 1100px;
        margin-bottom: 90px;
        border-radius: 5px;
        cursor: pointer;
        transition: .6s;
        border: none;
    }

    .back {
        background-color: #ff552f;
        width: 125px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 90px;
        border-radius: 5px;
        cursor: pointer;
        transition: .6s;
        border: none;
    }



    .login {
        margin-left: 40px;
        display: inline-block;
        padding: 10px 25px;
        font-size: 18px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }



    .register1 {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }

    .AddSales {
        fon-family: Georgia, 'Times New Roman', Times, serif;
        background-color: palegreen;
        width: 125px;
        height: 50px;
        margin-left: 25px;
        border-radius: 5px;
        bottom: 1000px;
        cursor: pointer;
    }

    .frame {
        border: 5px solid white;
        padding: 10px;
        background-color: burlywood;
    }

    .Addsav {
        margin-left: 56.5%;
        margin-top: 15px;
    }

    .Addsav, .back {
        border-radius: 13px;
        font-family: 'Times New Roman', Times, serif;
    }
</style>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Salesman.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>


