@*SALESMAN ADD PAGE Start*@
<title>SalesMan</title>
<div class="frames bg-grayLight">
    <div class="frame" id="Salessummury" style="background-color:lightskyblue">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card-head">
                    <h1>Sales Summary</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="ICHref">IcheckRef</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="ICHref" placeholder="Enter Name" onkeydown="if (event.keyCode == 13) { EnterFocus('ICHref'); return false; } if (event.keyCode == 9) { EnterFocus('ICHref'); return false; }" />
                            </div>
                        </div><br />
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="SYStem">System </label>
                            <div class="col-md-4">
                                <select id="SYStem" class="custom-select" style="min-width:250px;min-height:35px;margin-left:40px;border-radius:5px" onchange="Systemmobileplanchange()">
                                    <option value="0">Select an option</option>
                                    <option value="BESPOKE">BESPOKE</option>
                                    <option value="EDAS">EDAS</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="datepicker">Select a Date:</label>
                            <div class="col-md-4">
                               
                                <input type="date" id="Receiptdate" name="Date" class="cicons">

                            </div>
                        </div><br />
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="COMlist">Company </label>
                            <div class="col-md-4">
                                <select id="COMlist" class="custom-select" style="min-width:250px;min-height:35px;margin-left:40px">
                                    <option value="0">Select an option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="CUSicfin">Customer(NRIC/FIN)</label>
                            <div class="col-md-4">

                                <input type="text" class="form-control" id="CUSicfin" placeholder="Enter NRIC / FIN" maxlength="9" 
                                       onkeypress="return validateNumeric(event)"
                                       onkeydown="if (event.keyCode == 13) { EnterFocus('CUSicfin'); return false; } if (event.keyCode == 9) { EnterFocus('CUSicfin'); return false; }" />
                            </div>
                        </div><br />
                        <span id="lblError" style="color: red;float:right;margin-top:-39px;width: 260px;height: 30px;"></span>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="MOBplan">Mobile Plan Chosen </label>
                            <div class="col-md-4">
                                <select id="MOBplan" class="custom-select" style="min-width:250px;min-height:35px;margin-left:40px">
                                    <option value="0">Select an option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="MOBnumber">Mobile Number (Contract) </label>
                            <div class="col-md-2">
                                <input type="text" style="width:175px;margin-top:-1px" class="form-control" id="MOBnumber" placeholder="Mobile Number" onkeypress="validateInput(event)" maxlength="8" onkeydown="if (event.keyCode == 13) { EnterFocus('MOBnumber'); return false; } if (event.keyCode == 9) { EnterFocus('MOBnumber'); return false; }" />

                            </div>
                            <div class="col-md-2" style="margin-right:100px">
                               
                                <select id="nrpDropdown">
                                    <option value="N">N</option>
                                    <option value="R">R</option>
                                    <option value="P">P</option>
                                </select>
                            </div>

                        </div>
                       

                        <div class="form-group row">
                            <label class="control-label col-md-6" for="PHNimei">Phone IMEINumber</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="PHNimei" maxlength="15" placeholder="Scan IMEI # 1" onkeydown="if (event.keyCode == 13) { EnterFocus('PHNimei'); return false; } if (event.keyCode == 9) { EnterFocus('PHNimei'); return false; }" />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="SMTphone">Smart Phone Details</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="SMTphone" placeholder="Auto Populate" onkeydown="if (event.keyCode == 13) { EnterFocus('SMTphone'); return false; } if (event.keyCode == 9) { EnterFocus('SMTphone'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="BLNKnumber">Blank Sim Number</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="BLNKnumber" maxlength="18" placeholder="Scan Blank SIM Card" onkeydown="if (event.keyCode == 13) { EnterFocus('BLNKnumber'); return false; } if (event.keyCode == 9) { EnterFocus('BLNKnumber'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="HANDsetvalue">Handset Value</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="HANDsetvalue" placeholder="$ Enter Handset Value" onkeydown="if (event.keyCode == 13) { EnterFocus('HANDsetvalue'); return false; } if (event.keyCode == 9) { EnterFocus('HANDsetvalue'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="HANdiscount">Handset discount#1</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="HANdiscount" placeholder="$ Enter Discount #1" onkeydown="if (event.keyCode == 13) { EnterFocus('HANdiscount'); return false; } if (event.keyCode == 9) { EnterFocus('HANdiscount'); return false; }" />
                            </div>
                        </div>
                        <div class="dropdown-container">
                            <select id="Autopopulate" style="float:right;margin-top:-39px;width: 260px;height: 30px;" class="custom-select" onchange="Populategridshow()">
                               
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="HANdiscount2">Handset discount#2</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="HANdiscount2" placeholder="$ Enter Discount #2" onkeydown="if (event.keyCode == 13) { EnterFocus('HANdiscount2'); return false; } if (event.keyCode == 9) { EnterFocus('HANdiscount2'); return false; }" />
                            </div>
                        </div>
                        <select id="Autopopulate3" style="float:right;margin-top:-39px;width: 260px;height: 30px;" placeholder="Select On Option" class="custom-select" onchange="Nextdropdownautopopulate()"></select>

                        <div class="form-group row">
                            <label class="control-label col-md-6" for="Early">Early Recon</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="Early" placeholder="$ Early Recon" onkeydown="if (event.keyCode == 13) { EnterFocus('Early'); return false; } if (event.keyCode == 9) { EnterFocus('Early'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="DEPOsite">Deposit</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="DEPOsite" placeholder="$ Enter Deposit amount" onkeydown="if (event.keyCode == 13) { EnterFocus('DEPOsite'); return false; } if (event.keyCode == 9) { EnterFocus('DEPOsite'); return false; }" />
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="PREpayment">PrePayment</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="PREpayment" placeholder="$ Enter PrePayment amount" onkeydown="if (event.keyCode == 13) { EnterFocus('PREpayment'); return false; } if (event.keyCode == 9) { EnterFocus('PREpayment'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="SpecialNo">Special No Choosen </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="SpecialNo" placeholder="$ Special No Choosen" onkeydown="if (event.keyCode == 13) { EnterFocus('SpecialNo'); return false; } if (event.keyCode == 9) { EnterFocus('SpecialNo'); return false; }" />
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="control-label col-md-6" for="Premium">Premium </label>
                            <div class="col-md-4">
                                <select id="Premium" class="custom-select" onchange="PremiumFun(); return false;" style="min-width:250px;min-height:35px;margin-left:40px">
                                    
                                </select>
                            </div>
                        </div>
                        <input type="text" style="float:right;margin-top:-49px;height:30px" class="form-control" id="Voucher" placeholder="Voucher Serial No" onkeydown="if (event.keyCode == 13) { EnterFocus('Voucher'); return false; } if (event.keyCode == 9) { EnterFocus('Voucher'); return false; }" />
                        <div class="form-group row ">
                            <label class="control-label col-md-6" for="FINpayment">Final Payment (COLLECTTABLE)</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="FINpayment" placeholder="$ Auto Populate" onkeydown="if (event.keyCode == 13) { EnterFocus('FINpayment'); return false; } if (event.keyCode == 9) { EnterFocus('FINpayment'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6" id="LBLbespoke" for="BEspoke">BESPOKE RECEIPT</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="BEspoke" placeholder="Enter Receipt number"maxlength="16" onkeydown="if (event.keyCode == 13) { EnterFocus('BEspoke'); return false; } if (event.keyCode == 9) { EnterFocus('BEspoke'); return false; }" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <button class="Addsav" onclick="SaveSales()">Save</button>
                            <button class="back" onclick="AddPageCancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*SALESMAN ADD PAGE END*@

<style>


</style>


@*<script type="text/javascript">
    function validateNumeric(event) {
        var keyCode = event.which ? event.which : event.keyCode;
        var inputText = document.getElementById("CUSicfin").value;
        var length = inputText.length + 1;       
        
        if ((length == 1) || (length == 9)) {
            if ((keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122)) {
                return true;
            } else {
                alert("NRIC No must first & last letter alphabets!..."); 
                return false;
            }
        } else {
            if ((keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122)) {
                alert("Numeric only allow!..."); 
                return false;
            } else {
                return true;
            }
        }                
    }
</script>*@
